<h1 class="center">Stock Data</h1>
<mat-card>
  <h3 class="center">Search by Market or Index</h3>

  <form class="center">
    <mat-form-field appearance="fill" class="center">
      <input matInput placeholder="Search By Market" [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSymbolSelect($event.option.value)">
        <mat-option *ngFor="let market of filteredMarketData | async" [value]="market.symbol">
          {{ market.longName }}, {{ market.symbol }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of displayedResponseStock" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedResponseStock"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedResponseStock;"></tr>
    </table>
    <br>
    <p class="info-text mat-body-1" *ngIf="stockPrice.length <= 0">No searches made.</p>
</mat-card>
