<h1 class="center">CoinLore</h1>
<h3 class="center">CoinLore Data</h3>

<form class="center">
  <mat-form-field appearance="fill" class="center">
    <mat-select aria-label="Dropdown button with Coin Symbols" [(ngModel)]="currentCoinSymbol" name="cryptoSelect" (selectionChange)="onCryptoSelect()">
      <mat-option value="ALL_COINS">View All</mat-option>
      <mat-option *ngFor="let coin of coinData" [value]="coin.symbol">{{ coin.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
