<h1>Login</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. passcode123">
    @if (emailFormControl.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form> -->
