.FounditNav-spacer {
  flex: 1 1 auto;
}

/* .FounditNav-container {
  width: 400px;
  height: 800px;
  border: 1px;
}

.FounditNav-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.FounditNav-sidenav {
  padding: 20px;
} */
/* mat-sidenav-contaier{
  height: 100%;
} */
mat-sidenav{
  background-color: black;
}
