<h1>CoinLore</h1>
<h3>CoinLore Data</h3>

<form>
  <mat-form-field>
    <mat-label>CryptoCurrency</mat-label>
    <mat-select [(ngModel)]="currentCoinSymbol" (selectionChange)="onCryptoSelect()">
      <mat-option *ngFor="let coin of coinData" [value]="coin.symbol">
        {{ coin.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<!-- Displaying selected cryptocurrency details -->
<div *ngIf="selectedCoinDetails">
  <p>Name: {{ selectedCoinDetails.name }}</p>
  <p>Symbol: {{ selectedCoinDetails.symbol }}</p>
  <p>Price USD: {{ selectedCoinDetails.price_usd }}</p>
</div>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Company</mat-label>
    <input matInput  placeholder="Google">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address 2</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput placeholder="Ex. California">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Postal Code</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>

  <mat-form-field class="example-full-width">
    <mat-label>Telephone</mat-label>
    <span matTextPrefix>+1 &nbsp;</span>
    <input type="tel" matInput maxlength="10" placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form> -->
