<h1>Profile Page</h1>
<h2>Welcome, *Username*</h2>
<h2>Past API views are displayed below.</h2>
<br>
<h2>Coin Lore History</h2>
<mat-card>
  <mat-card-header style="margin: auto;">
    <mat-card-title style="text-align: center;">Past 5 Coin Lore Views</mat-card-title>
  </mat-card-header>
</mat-card>
<br>
<h2>Currency Exchange History</h2>
<mat-card>
  <mat-card-header style="margin: auto;">
    <mat-card-title style="text-align: center;">Past 5 Currency Exchange Views</mat-card-title>
  </mat-card-header>
</mat-card>
<br>
<h2>Stock Data History</h2>
<mat-card>
  <mat-card-header style="margin: auto;">
    <mat-card-title style="text-align: center;">Past 5 Stock Data Views</mat-card-title>
  </mat-card-header>
</mat-card>
<br>
