<h1>TEAM HOME PAGE WOOO</h1>
<h2>Test stuff</h2>
<h2>Test stuff</h2>
<h2>Test stuff</h2>
<h2>Test stuff</h2>
<p>FirstComp!</p>
<!-- this is a way by value -->
<!-- <textarea name="" id="" cols="30" rows="6" [value]="secondPost" #postInput></textarea>
<hr>
<button (click)="secondAddPost(postInput)">Save Post</button>
<p>{{secondPost}}</p> -->

<!-- This is using two way binding -->
<!-- <textarea name="" id="" cols="30" rows="6" [(ngModel)]="enteredValue"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{newPost}}</p> -->
