<h1 class="center">Stock Data</h1>
<h3 class="center">Search by Market or Index</h3>

<!-- Market search with autocomplete -->
<form class="center">
  <mat-form-field appearance="fill" class="center">
    <input matInput placeholder="Search By Market" [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSymbolSelect($event.option.value)">
      <mat-option *ngFor="let market of filteredMarketData | async" [value]="market.symbol">
        {{ market.longName }}, {{ market.symbol }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="stockPrice">
  <h3>Selected Stock Details:</h3>
  <p><strong>Symbol:</strong> {{ stockPrice.ticker }}</p>
  <p><strong>Name:</strong> {{ stockPrice.name }}</p>
  <p><strong>Price:</strong> {{ stockPrice.price }}</p>
</div>
